html {
    background-color: 	#FFFAF0;

}

body {
    
    background-color: #FFFFFF;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
   
}
.header {
    background-color: #FFFFFF;
    }

